<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <!--please use only Chrome, Firefox-->
  <mainBrowser>Firefox</mainBrowser>
  <!-- /site/index should be included in url-->
  <defaultURL>http://staging.toptal.net</defaultURL>
  <webProtection>
    <username>toptal</username>
    <password>staging</password>
  </webProtection>
  <defaultAccount>
    <username>slava.connectpal.com@mailinator.com</username>
    <password>password</password>
  </defaultAccount>
</configs>

